header {
    box-shadow: 0 2px 5px 0 #8883;
    z-index: 10;
    #header-container {
        .toggle-menu {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 50px;
            .icon-span {
                height: 25px;
                width: 25px;
                margin: 0;
                padding: 0;
            }
        }
        .name-center {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .big-text {
                font-size: 1.4rem;
                color: var(--my-pink);
            }
            .small-text {
                font-size: 1.2rem;
            }
        }
        .search-bar {
            height: 38px;
            width: 300px;
            border-radius: 5px;
            border: 1px solid var(--my-pink);
            padding: 0 10px;
            font-size: 1rem;
            color: var(--my-pink);
        }
        .menu-container {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .menu-button {
                height: 38px;
            }
        }
        .cart-button {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 50px;
            .count-cart {
                position: relative;
                top: 0;
                right: 0;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: var(--my-pink);
                color: #000;
                font-size: 0.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .user-menu-modal-container {
        backdrop-filter: blur(8px);
        background-color: #0004;
    }
}
